<h1> {{name}}</h1>

<table>
    <thead>
        <tr>
            <th> drone_serves_store</th>
            <th> drone_tag </th>
            <th> pilot </th>
            <th> total_weight_allowed </th>
            <th> current_weight </th>
            <th> deliveries_allowed </th>
            <th> deliveries_in_progress </th> 
        </tr>
    </thead>
    <tbody>
        {%for row in data%}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>

        </tr>
        {%endfor%}
    </tbody>
</table>