<h1> {{name}}</h1>

<table>
    <thead>
        <tr>
            <th> orderID</th>
            <th> cost </th>
            <th> num_products </th>
            <th> payload </th>
            <th> contents </th>
        </tr>
    </thead>
    <tbody>
        {%for row in data%}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>