<h1> {{name}}</h1>

<table>
    <thead>
        <tr>
            <th> store_id</th>
            <th> sname </th>
            <th> manager </th>
            <th> revenue </th>
            <th> incoming_revenue </th>
            <th> incoming_orders </th>
        </tr>
    </thead>
    <tbody>
        {%for row in data%}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>

        </tr>
        {%endfor%}
    </tbody>
</table>